body { margin:0;}

@font-face {
  font-family: nutino-sans;
  src: url(/assets/nunito-sans.extralight.ttf);
}

@font-face {
  font-family: anton-regular;
  src: url(/assets/Anton-Regular.ttf);
}

h1,h2{
  text-align: center;
  font-family:anton-regular;
}

p{
  font-family: nutino-sans;
}

.container-fluid{
  padding: 7% 15%;
}




/*Navigation- Bar*/

.navbar {
  
  padding: 0 0 4.5rem;
}


.nav-item {
  padding: 0 18px;
  
  
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #FFF;
}



/*Sections*/


.dark-section{
  
  
  height: 100vh;
  background-image: url("/images/philipp-pilz-AOhBMkQlzgM-unsplash.jpg"); 
  background-size: 1300px;
  
  
}

.colored-section{
  background-color: #76BA99;
  
}




/*Title- Section*/

.main-heading{
  font-family:anton-regular;
  
  
  font-size: 350%;
  line-height: 1.5;
  color: #FFF;
    
}

.my-image{
    width:300px;
    
    position: static;
    align-items: center;
    padding: 20px;
    border-radius: 100%;
    text-align: center;
}


.row{
  align-items: center;
}

/*About-Me Section*/



#about-me{
  text-align: center;
  
}

#about-me h1{
  
  text-align: center;
  font-family:anton-regular;

  font-size: 350%;
  line-height: 1.5;
  color: #000;

}

#about-me p{
  text-align: center;
  font-family:nutino-sans;
  
  font-size: 150%;
  
  color: #000;

}


.me-graphic{
  width:400px;
}

/*Education Section*/

#education{
  padding: 60px;
}

#education h1{
  padding: 30px ;
}



.manit{
  text-align: center;
  align-items: center;
  padding: 3% 2%;

}

.sssvv{
  text-align: center;
  align-items: center;
  padding: 3% 2%;
}

.manit-img{
  height:100%;

  padding: 30px 100px;
}


.sssvv-img{
  height: 100%;
  padding: 30px 100px;
  
}


/*Skills*/

#skills{
 padding-bottom: 10%;
}

.skill-row{
  padding: 0% 4%;
}


.skill-row h1{
  padding: 10% 10%;
}


/*Contact*/

#contact{
 
  background-color: #000;
  color:#FFF;
  align-items: center;
  text-align: center;
  
}

#contact h1{
  padding-bottom: 10%;
  font-family:anton-regular;
  
  
  font-size: 270%;
  line-height: 1.5;
  color: #FFF;

}

#contact p{
  text-align: center;
  font-family:nutino-sans;
  
  font-size: 1rem;
  
  color: #FFF;  
}

#contact a{
  padding: auto 20% auto 20%;
  margin: 5% 5%;
}



.profiles{
  font-size: 1rem;
  padding-top: 10%;
  position: center;
}











@media screen and (max-width: 991px) {

    .row{

      text-align: center;
    }

    .my-image{
      padding-top: 60px;
      width:300px;
      align-items: center;
    }

    #education{
      align-items: center;
    }
    
    .dark-section{
      height:auto;
    }



}


